@import "tailwindcss";
@import url("https://font.emtech.cc/css/TaipeiSansTC");
 
body {
    font-family: "TaipeiSansTC", sans-serif;
}

/*
/* =========================
   Section Background System
   ========================= */


/* .motivation-container {
  background: linear-gradient(
    180deg,
    #eef3ee 0%,
    #f6e4cf 100%
  );
}


.entrepreneurial-container {
  background: linear-gradient(
    180deg,
    #f6e4cf 0%,
    #f1d7bb 100%
  );
}

.lifestory-container {
  background: linear-gradient(
    180deg,
    #f1d7bb 0%,
    #e1c0a0 100%
  );
}

.local-container {
  background: linear-gradient(
    180deg,
    #e1c0a0 0%,
    #e8c9a8 100%

  );
} */
